

:root {
    /* color definitions */
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-background: #f8f9fa;
    --color-positive: #28a745;
    --color-negative: #dc3545;
    --color-accent: #ffc107;
 
}

div {
    background-color: var(--color-background);
    color: var(--color-primary);
}